@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --text-color-1: rgb(72, 190, 163);
    --text-color-2: rgb(148, 148, 148);
    --border-color-1: rgba(72, 190, 162, 0.712);
    --back-color-1: rgba(72, 190, 163, 0.7);
    --back-color-2: rgb(255, 255, 255);
}
body{
    font-family: 'Raleway', sans-serif;
}

h1{
    text-align: center;
    font-size: 50px;
    font-weight: 200;
}

.icons-grid{
    margin: 50px;
    align-items: center;
}

.icon{
    padding: 20px;
    border: 1px solid rgb(240, 240, 240);
    border-radius: 10px;
    margin: 5px;
    width: 60px;
    display: inline-block;
}

.icon:hover{
    border: 1px solid var(--border-color-1);
    position: relative;
    cursor: pointer;
}

.icon span {
    display: none
}
.icon:hover span {
    font-size: 12px;
    font-weight: 400;
    display: block;
    background-color: rgb(72, 190, 163);
    z-index: 100;
    position: absolute;
    text-decoration: none;
    border-radius: 10px;
    padding: 5px;
    color: white;
    right: -20px;
    left: 30px;
    bottom: -12px;
    text-align: center;
}

a{
    text-decoration: none;
}


h3{
    margin: 5px 0 0 0 ;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    color: var(--text-color-2);
}


.popup {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    padding-bottom: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: var(--back-color-1);
  }
  
  .popup-content {
    background-color: var(--back-color-2);
    margin: auto;
    padding: 0px 30px;
    border: 1px solid var(--border-color-1);
    border-radius: 20px;
    width: 80%;
    margin-bottom: 200px;
  }
  .close {
    color: var(--text-color-1);
    float: right;
    font-size: 38px;
  }
  
  .close:hover,
  .close:focus {
    color: var(--text-color-2);
    text-decoration: none;
    cursor: pointer;
  }

  h2{
      font-weight: 400;
  }

  .view-grid{
      display: grid;
      grid-template-columns: 50% 50%;
      align-items: center;
      justify-items: center;

  }

  .view{
      display: inline-block;
      position: relative;
      right: 0%;
      
      width: 300px;
      height: 300px;
  }

  .color-picker div{
      padding: 20px;
      margin-bottom: 10px;
      text-align: center;
  }
  #border_color, #back_color{
      
  }

  .download{
      background-color: rgb(1, 143, 119);
      padding: 20px;
      color: white;
  }
  .code{
      padding: 20px;
      max-height: 300px;
      overflow:scroll;
      margin: 20px;
      background-color: rgb(16, 180, 153);
      color: white;
  }